.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.market-items-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}
.market-items {
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.market-items > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}