
.wrapper {
    width: 100%;
    display: flex;
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
